*{
    margin:0px;
    padding:0px;
}
/* Sharded style */
.Linear{
    background: linear-gradient(to bottom, 
                #F7E93F 0%, 
                #FB09B4 51%, 
                #9100F8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;/
}
.btn{
    background: linear-gradient(45deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    padding: 12px 16px;
    border:none;
    border-radius: 30px;
    color:#FFFFFF;
    font-weight: 700;
    font-size: 1.2rem;
    display: flex;
   justify-content: center;
   align-items: center;
   gap:10px;
   cursor: pointer;
   transition: all .5s; 
}
.btn:hover{
    transform:translateY(-7px) translateX(-3px);
    box-shadow: 0px 4px 16px rgb(16, 0, 0);
}

.font-h1{
    font-size: 1.5rem;
    font-weight: 700;
}
.font-p1{
    font-size: .8rem;
    font-weight: 400;
}
.col{
    color:#FFFFFF;
}
.gap{
    margin: 16px 0px;
}
/* Navbar section Css */
.headersec{
   background-color: #1A0B2E;
}
.nab{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:16px 0px;
    width: 80%;
    margin:0px auto;
    
}
.nab h1{
    color:#FFFFFF;
}
.nab ul{
    list-style-type: none;
    display: flex;
    gap:32px;
    align-items: center;
}
.nab ul li a{
    text-decoration: none;
    color:#FFFFFF;
    font-size: 1.2rem;
    font-weight: 500;
}
/* .nab button p{
  text-wrap: none;
} */


/* Banner section */
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.box{
    padding:101px 0px;
}
.img-overlap{

}
#circle{
  
    height: 300px;
    width: 300px;
    position: relative;
     right:-90px;
     z-index: 0;
}
#micro{
    
    position: relative;
    left:-130px;
    top:-70px;
   z-index: 1;
}
#badge{
    aspect-ratio: 16/9;
   position: relative;
    left:-120px;
    top:-270px;
   z-index: 1;
}
.img-overlap button{
    background-color: #00FF88;
    color:white;
    padding:5px 15px;
    border:none;
    border-radius:10px;
}
.subscribe{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 
}
.subscribe h1{
    text-align: center;
    color:white;
    font-size: 3.8rem;
 font-weight: 800;
}
.subscribe p{
    text-align: center;
    color:white;
    margin-top:20px;
    margin-bottom: 20px;
}
.btn-hold{
    display: flex;
    gap:30px;
}
#subs{
    display: flex;
     justify-content: center;
   align-items: center;
   gap:10px;
    background-color: transparent;
    border:1px solid #00FF88;
    color:#00FF88;
    padding: 12px 16px;
    border-radius: 30px;
    font-weight: 700;
    font-size: 1.2rem;
   cursor: pointer;
   transition: all 0.5sec ease;
}

#subs:hover{
    transform:translateY(-7px) translateX(-3px);
    box-shadow: 0px 4px 16px rgb(16, 0, 0);
}

/* About Podcast section */

.about_podcast{
    background-color: #1A0B2E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.podcast_intro{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.podcast_intro h1{
    color:#FFFFFF;
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
    margin-top:4rem;
    margin-bottom: 1rem;
}
.podcast_intro p{
    color:#FFFFFF;
    text-align: center;
    font-size:.8rem;
    font-weight: 400;
}
.line{
    width:80%;
    border:1px solid #FFFFFF;
    margin:5rem 0px;
}
.podcast_rating{
    display: grid;
    width: 80%;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    align-items: center;
    margin-bottom: 7rem;
}
.RATING h1{
    font-size:3rem;
    font-weight: 900;
    color:#00FF88;
    text-align: center;
    margin-bottom: .8rem;
}
.RATING p{
    font-size:.8rem;
    font-weight: 400;
    color:#FFFFFF;
    text-align: center;
}

/* why choose section */
.Choose{
    background-color: #230E3d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:7rem 0rem;
}
.Choose h1{
    font-size:3rem;
    font-weight: 700;
    color:#FFFFFF;
    width:80%;
    text-align: center;
}
.Choose-card-holder{
    display: grid;
    width: 80%;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,14rem);
    gap:30px;
    margin:3rem 0rem;
}
.choose-card-1{
    grid-column:span 1;
    grid-row: span 2;
    background-color: #351165;
    border-radius: 30px;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: flex-start;
   gap:1.2rem;
    padding:0rem 1.2rem;
}

.choose-card-2{
    grid-column:span 2;
    grid-row: span 1;
    background-color: #351165;
    border-radius: 30px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: flex-start;
   gap:1.2rem;
    padding:0rem 1.2rem;
}
.choose-card-3{
    grid-column:span 2;
    grid-row: span 1;
    background-color: #351165;
    border-radius: 30px;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: flex-start;
   gap:1.2rem;
    padding:0rem 1.2rem;
}
.choose-card-4{
    grid-column:span 2;
    grid-row: span 1;
    background-color: #351165;
    border-radius: 30px;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: flex-start;
   gap:1.2rem;
    padding:0rem 1.2rem;
}
.choose-card-5{
    grid-column:span 1;
    grid-row: span 1;
    background-color: #351165;
    border-radius: 30px;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: flex-start;
   gap:1.2rem;
    padding:0rem 1.2rem;
}

/* Feature and Host section */

.Main_feature{
    background-color: #1A0B2E;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.feature{
    width:80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     margin: 7rem 0rem;
     gap:40px;
}
.feature h1{
    font-size:3rem;
    font-weight: 700;
    color:#FFFFFF;
    width:80%;
    text-align: center;
    margin-bottom: 2rem;
}
.episodes{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,400px);
    gap:30px;
}
.episode{
   grid-column: span 1;
   grid-row: span 1;
   background-color: #250D44;
   border-radius: 30px;
   overflow: hidden;
}
.Fea-description{
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: left;
   padding: 20px;
}
.episode iframe{
    width: 100%;
}
.duration{
    display: flex;
    justify-content: left;
    align-items: flex-start;
    gap:16px;
}
.duration p{
    color:#00FF88;
}
.Host{
    width:80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     margin: 7rem 0rem;
     gap:40px;
}
.Host h1{
    font-size:3rem;
    font-weight: 700;
    color:#FFFFFF;
    width:80%;
    text-align: center;
    margin-bottom: 2rem;
}
.Host_info{
    background-color:#351165;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    padding: 2rem 3rem;
    border-radius: 30px;
}

.detail{
    display: flex;
    flex-direction: column;
    gap:16px;
}
.detail h2{
    font-size: 2rem;
    color:#FFFFFF;
}
.linking{
    display: flex;
    gap:16px;
}

.linking a{
    border:1px solid #533C72;
    padding:10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Footer Section */
  .foot{
    background-image: url(../assets/footer-bg.png);
    background-size: 100% 100%;
       display: flex;
       flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   .foot_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:2rem 0rem 4.5rem 0rem;
    width:80%;
   }
   .foot_info h1{
    font-size:3rem;
    font-weight: 700;
    color:#FFFFFF;
    text-align: center;
    margin-bottom: 2rem;
}
  .sponsor-holder{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:20px;
  }
  .spnsor{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
  }
  .foot_line{
    border:1px solid whitesmoke;
    width:80%;
    margin-bottom: 5px;
  }
/* Lets Make it Responsive */
@media screen and (max-width:576px){
    .nab ul{
       display: none;
    }
    .nab button{
        display: none;
    }
    .nab{
      width:90%;
    }
    

.podcast_intro{
    width: 90%;
}
.line{
    width:90%;
}
.podcast_rating{
    width: 90%;
    grid-template-columns: repeat(2,1fr);
    margin-bottom: 5rem;
}

.Choose-card-holder{
    width: 90%;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(7,14rem);
    gap:20px;
    margin:2rem 0rem;
    margin:1.2rem 0rem;
}
.choose-card-1,.choose-card-4{
    grid-row:span 2;
    grid-column: span 1;
    padding:10px;
}
.choose-card-2,.choose-card-3,.choose-card-5{
    grid-row:span 1;
    grid-column: span 1;
    padding:10px;
}
.font-h1{
    font-size: 1.3rem;
    font-weight: 600;
}
.font-p1{
    font-size: .8rem;
    font-weight: 400;
}
.Choose h1{
    font-size:2rem;
    font-weight: 600;
    color:#FFFFFF;
    width:90%;
}

.feature{
    width:90%;
     margin: 2rem 0rem;
     gap:30px;
}
.feature h1{
    font-size:2rem;
    font-weight: 600;
    width:90%;
}
.episodes{
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(3,400px);
}
.episode{
   grid-column: span 1;
   grid-row: span 1;
}
.Host{
    width:80%;
     margin: 2rem 0rem;
     gap:30px;
}

.Host h1{
    font-size:2rem;
    font-weight: 700;
    width:90%;
}
.Host_info{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:2rem 1rem;
}
.host_pic{
    width:200px;
    height: 200px;
}
   .foot{
    background-image: url(../assets/Footer\ \(1\).png);
   }
   .foot_info{
    padding:1rem 0rem 2.5rem 0rem;
    width:80%;
   }
   .foot_info h1{
    font-size:2rem;
    text-align: center;
}
.sponsor-holder{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:20px;
  }
  .spnsor{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
  }
}
@media screen and (min-width:576px){
   .menu{
    display:none;
   }
     .foot_line{
    width:30%;
  }
}
